/******* HERO ********/

.hero {

  position: relative;
  width: 100vw;
  height: 100vh;
  left: 10%;
  top: 10%;
}

.hero__title {
  color: var(--primary);
  /* ∏font-size: 7em; */
  margin-block-end: -0.6em;
}

.hero__subtitle {
  font-weight: bold;
  /* font-size: 48px; */
  line-height: 77px;
}

.hero__image {
  position: absolute;
  width: 70vh;
  height: 70vh;
  left: 55vw;
  top: -5vh;
  z-index: -1;
}

.hero__backimage {
  position: absolute;
  width: 70vh;
  height: 70vh;
  left: 53vw;
  top: -2vh;
  z-index: -2;
}

.hero__decoration {
  position: absolute;
    width: 30vh;
    height: 30vh;
    left: -16vw;
    top: 70vh;
    z-index: -2;
}

#cta__hero {
  margin-top: 4em;
}

/******* SERVICES ********/
.services {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 10%;
  top: 10%;
}


li{
  list-style: none;
}


.services__title {
  /* font-size: 64px; */
}


/* 

li h3 {
  font-size: 36px;
}

li p{
  font-size: 24px;

} */


.services__list {
  box-shadow: -3px 10px 8px 9px rgba(0, 0, 0, 0.06);
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 70px;
  border-radius: 0 0 0 100px;
}


.services__image {
  position: relative;
  width: 70vh;
  height: auto;
  left: 60vw;
  bottom: 80vh;
  z-index: -2;
  border-radius: 100px 0 0 0px;

}

/******* PRESENTATION ********/

.presentation__center {
  margin: auto;
  justify-content: center;
  text-align: center;
}

.presentation__text {
  padding: 0 20% 0 20%;
  margin-top: 2%;
}

#image4 {
  background-image: url("../assets/homeimage4.png");
  background-color: #cccccc;
}

/******* Media Query for responsivness ********/


@media all and (max-width:400px) {
  .hero__image{
    visibility: hidden;
  }

  .hero__backimage {
    visibility: hidden;
  }

  .services__image {
    visibility: hidden;
  }
}
