/******* HERO ********/

.product {
  position: relative;
  left: 10%;
  top: 10%;
  justify-content: center;
}

.product__title {
  font-weight: bold;
  --submin: 32px;
  --submax: 48px;
  font-family: "Hind";
  font-style: normal;
  line-height: 77px;
  padding-top: 3%;
  margin-block-end: -0.6em;
}
/* Give to title a fluid typohraphy */

@media screen and (min-width: 320px) {
  .product__title  {
      font-size: calc(var(--submin) + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .product__title  {
      font-size: var(--submax);
  }
}

.product__herodescription {
  margin-top: 5%;
}

.product__descriptiontitle {
  font-weight: bold;
  font-size: 16px;
  margin-block-end: 0;
  margin-block-start: 10%;
}

.product__description {
  max-width: 70%;
  max-height: 70%;
  word-wrap: break-word;
}

#description {
  font-size: 16px;
}

.product__image {
  width: 70vh;
  border-radius: 8px;
}

.product__requesttext {
  color: var(--primary);
  font-size: 14px;
}

#product__measure {
  color: gray;
  font-size: 14px;
}

/*** Table Styles **/

:root {
  --headersbordercolour : #7d07c2;
  --rowsbordercolour : #8a00da;
  --cellsbordercolour : #f3deff;

}

.tablefill {
  background: transparent;
  border-radius: 13px;
  border-collapse: collapse;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  animation: float 5s infinite;
}
 
th {
  color:#FFFFFF;;
  background: var(--primary);
  border-bottom: 2px solid var(--headersbordercolour);
  border-right: 2px solid var(--headersbordercolour);
  padding: 1.7%;
  text-align: center;
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-bottom:2px solid var(--headersbordercolour);
}
 
tr:hover td {
  background:var(--primary);
  color:#FFFFFF;
  font-weight: bold;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#fcf6ff;
}
 
tr:nth-child(odd):hover td {
  background:var(--primary);
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:center;
  vertical-align:middle;
  border-bottom:2px solid var(--cellsbordercolour);
  border-right:2px solid var(--cellsbordercolour);
  
}

td:last-child {
  border-right: 0px;
}

/******* Media Query for responsivness ********/


@media all and (max-width:600px) {
  .product {
  position: relative;
  left: 0%;
  top: 0%;
  justify-content: left;
  }

  .product__image {
    width: 90vw;
  }

  .product__description {
    max-width: 100%;
    max-height: 100%;
    word-wrap: break-word;
  }
  
}