:root {
  --primary: #772ADB;
  --black: #111111;
  overflow-x: hidden !important;

}

body {
  font-family: 'Hind', sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 0px;
}

.button__primary {

  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.13);

  display: inline-block;
  padding: 1.46em 2em;
  border: 0.1em solid var(--primary);
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.22em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: large;
  color: var(--primary);
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #FFFFFF;
  text-align: center;
  transition: all 0.15s;
  cursor: pointer;
}

.button__primary:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #FFFFFF;
  color: white;
  background-color: var(--primary);
}

.shadow__low {
  -webkit-box-shadow: -5px 13px 15px -4px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -5px 13px 15px -4px rgba(0, 0, 0, 0.06);
  box-shadow: -5px 13px 15px -4px rgba(0, 0, 0, 0.06);
}

.shadow__up {
  -webkit-box-shadow: -1px -9px 19px 1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -1px -9px 19px 1px rgba(0, 0, 0, 0.06);
  box-shadow: -1px -9px 19px 1px rgba(0, 0, 0, 0.06);
}

.presentation__center {
  margin: auto;
  justify-content: center;
  text-align: center;
}

.presentation__verticalcenter {
  display: flex;
  align-items: center;
}
.presentation__fulldisplay {
  width: 100vw;
  height: 100vh;
}

@media all and (max-width:400px) {
  .button__primary {
    display: block;
    margin: 0.4em auto;
    padding: 1em 2em;
    font-size: 1.4em;
    background-color: white;
    color: var(--primary);
    border: 0.09em solid var(--primary);
    border-radius: 0.3em;
    box-shadow: 2px 4px 3px 3px rgba(0, 0, 0, 0.10);

  }
}